:root {
    --fon-bukva: rgb(193, 203, 203);
    --gray-bukva: rgb(137, 137, 137);
    --yellow-bukva: rgb(255, 232, 105);
    --green-bukva: rgb(100, 211, 104);
    --red-knopka: rgb(252, 166, 166);
    --red-knopka-hover: rgb(254, 146, 146);
    --popup-col: rgb(255, 250, 219);
    --header-col: rgb(212, 212, 212);
    --fon-bukva-hover: rgb(206, 218, 218);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

section {
    margin: 15px auto;
    text-align: center;
    font-size: 23px;
    color: rgb(37, 38, 49);
}

table {
    font-size: 23px;
    margin: 0 auto;
    border-spacing: 6px;
    cursor: default;
    border: none;
}

td {
    border-radius: 5px;
    background-color: var(--fon-bukva);
    width: 37px;
    height: 40px;
    box-shadow: 3px 0 4px rgba(0, 0, 0, .4);
    padding: 3px;
    user-select: none;
}

.keyboard {
    cursor: pointer;
}

.keypressed {
    box-shadow: 3px 0 4px rgba(255, 255, 255, 0.4);
}

.bukvagray {
    background-color: var(--gray-bukva);
}

.bukvayellow {
    background-color: var(--yellow-bukva);
}

.bukvagreen {
    background-color: var(--green-bukva);
}

.bukvames {
    padding: 3px 7px;
}

.pointeren {
    background-color: var(--fon-bukva-hover);
}

#popup-overlay,
#popup-overlay-text,
#popup-overlay-set,
#popup-overlay-stat,
#popup-overlay-result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    user-select: none;
    background-color: var(--popup-col);
    box-shadow: 7px 0 8px rgba(0, 0, 0, .4);
    z-index: 3;
}

#popup-text,
#popup-set,
#popup-stat,
#popup-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 390px;
    max-width: 490px;
    font-size: 22px;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    user-select: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 0 8px rgba(0, 0, 0, .4);
    z-index: 3;
}

#timerchek,
#slovarchek {
    accent-color: var(--green-bukva);
    width: 20px;
    height: 20px;
}

#statchek,
#backgr {
    accent-color: var(--red-knopka);
    width: 20px;
    height: 20px;
}

.header-text {
    background-color: var(--header-col);
}

#popup-text-body,
#popup-set-body,
#opup-stat-body,
#opup-result-body {
    font-size: 19px;
    padding: 15px 20px;
    text-align: left;
    line-height: 29px;
    user-select: none;
}

#closehelp,
#closeset,
#closeresult,
#closestat {
    font-size: 20px;
    border-radius: 3px;
    background-color: var(--red-knopka);
    height: 35px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .4);
    border: none;
    padding: 7px;
    cursor: pointer;
}

#closehelp:hover,
#closeset:hover,
#closestat:hover,
#closeresult:hover {
    font-size: 20px;
    border-radius: 3px;
    background-color: var(--red-knopka-hover);
    height: 35px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .4);
    border: none;
    padding: 7px;
    cursor: pointer;
}

#resetstat {
    font-size: 20px;
    border-radius: 3px;
    background-color: var(--header-col);
    height: 35px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .4);
    border: none;
    padding: 7px;
    cursor: default;
}

#statchek:checked~#resetstat {
    background-color: var(--red-knopka);
    cursor: pointer;
}

#statchek:checked~#resetstat:hover {
    background-color: var(--red-knopka-hover);
    cursor: pointer;
}

#help,
#settings,
#timer {
    color: rgb(40, 69, 69);
    cursor: pointer;
}

.bukva {
    transform: scale(1);
    animation: pulse 0.3s;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(0.7);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

.bukvax {
    transform: scaleX(1);
    animation: pulsex 0.6s;
}

@keyframes pulsex {
    0% {
        transform: scaleX(0.9);
    }

    40% {
        transform: scaleX(0.0);
    }

    100% {
        transform: scaleX(1);
    }
}

.mouse-parallax-bg {
    position: absolute;
    background-image: url("img/fon.jpeg");
    background-position: left top;
    background-repeat: repeat;
    background-size: 800px;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
    z-index: -3;
}